.jumbotron {
    background-image: url('../../../assets/justificantes_jumbotron.jpg');
    background-size: cover;
    border-style: ridge;
    border-color: #578396;
    font-family: 'Cairo', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #0B3A7E;
}
/* 
.card {
    background-color: #F5FAE4;    
} */
